body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 50px;
    background-image: url(1.jpeg);
}

h1 {
    font-size: 36px;
    color: #FF1493;
}

.message {
    font-size: 24px;
    margin: 20px 0;
    color: #FF69B4;
}

.button {
    padding: 15px 30px;
    background-color: #FF1493;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-align: left;
    margin-top: 15px;
    margin-left: 100px;
    border-radius: 10px;
}

.button:hover {
    background-color: #FF69B4;
}

.final-message {
    font-size: 28px;
    color: #FF4500;
}

#message {
    text-align: center;

}

#moveButton {
    padding: 15px 30px;
    background-color: #FF1493;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
}